
results/hyptest_poisson_10_0.1
results/hyptest_poisson_10_0.2
results/hyptest_poisson_10_0.3
results/hyptest_poisson_10_0.5
results/hyptest_poisson_10_0.6
results/hyptest_poisson_10_0.7
results/hyptest_poisson_10_0.9
results/regression_linear_dependent.Rdata
results/regression_linear_independent.Rdata
results/regression_linear_independent_test.Rdata
results/regression_linear_influential.Rdata
results/regression_linear_influential2.Rdata
results/regression_linear_influential3.Rdata
results/regression_linear_influential4.Rdata
results/regression_linear_influential5.Rdata
results/regression_linear_influential6.Rdata
results/regression_logistic_singlesignal.Rdata
results/regression_logistic_unidim.Rdata
results/regression_logistic_varyprob.Rdata
results/regression_logistic_varyscale.Rdata
results/regression_logistic_varyscale_simCI_rep.Rdata
results/regression_logistic_varyscale_simCI_sparse_rep.Rdata
results/regression_poisson_influential.Rdata
results/regression_poisson_varyscale.Rdata
results/regression_trendfilter_varyprob.Rdata
results/regression_trendfilter_varyprob_pointwise.Rdata
results/regression_trendfilter_varySigmaProb.Rdata
results/regression_trendfilter_varySigmaProb_pointwise_CV.Rdata
results/regression_trendfilter_varySigmaProb_pointwise_SURE.Rdata
results/regression_trendfilter_varySigmaProb_pointwise_SURE_estimate.Rdata
results/regression_trendfilter_varySigmaProb_uniform_CV.Rdata
results/regression_trendfilter_varySigmaProb_uniform_SURE.Rdata
results/regression_trendfilter_varySigmaProb_uniform_SURE_estimate.Rdata
results/regression_trendfilter_varySigmaSlope.Rdata
results2/regression_linear_dependent.Rdata
results2/regression_linear_independent.Rdata
results2/regression_linear_unidim.Rdata
results2/regression_logistic_singlesignal.Rdata
results2/regression_logistic_unidim.Rdata
results2/regression_logistic_varyprob.Rdata
results2/regression_logistic_varyscale.Rdata
results2/regression_logistic_varyscale_simCI_rep.Rdata
results2/regression_logistic_varyscale_simCI_sparse_rep.Rdata
results2/regression_poisson_dependent_varyRho.Rdata
results2/regression_poisson_neg.Rdata
results2/regression_trendfilter.Rdata
results2/regression_trendfilter_largeslope.Rdata
results2/regression_trendfilter_sigma01.Rdata
results2/regression_trendfilter_varyprob.Rdata
results2/regression_trendfilter_varyprob_pointwise.Rdata
results2/regression_trendfilter_varySigmaProb.Rdata
results2/regression_trendfilter_varySigmaSlope.Rdata
*.sh~
results/interactive_normal_0.1_2_0_25_1
results/interactive_normal_0.1_2_0_25_100
results/interactive_normal_0.1_2_0_50_5
results/interactive_normal_0.2_2_0_25_1
results/interactive_normal_0.2_2_0_25_100
results/interactive_normal_0.2_2_0_50_5
results/interactive_normal_0.3_2_0_25_1
results/interactive_normal_0.3_2_0_25_100
results/interactive_normal_0.3_2_0_50_5
results/interactive_normal_0.4_2_0_25_1
results/interactive_normal_0.4_2_0_25_100
results/interactive_normal_0.4_2_0_50_5
results/interactive_normal_0.5_2_0_25_1
results/interactive_normal_0.5_2_0_50_5
results/interactive_normal_0.6_2_0_25_1
results/interactive_normal_0.6_2_0_50_5
results/interactive_normal_0.7_2_0_25_1
results/interactive_normal_0.7_2_0_50_5
results/interactive_normal_0.8_2_0_25_1
results/interactive_normal_0.8_2_0_50_5
results/interactive_normal_0.9_2_0_25_1
results/interactive_normal_0.9_2_0_50_5
results/interactive_poisson_0.1_10_5_25_1
results/interactive_poisson_0.1_10_5_25_100
results/interactive_poisson_0.1_10_5_50_5
results/interactive_poisson_0.2_10_5_25_1
results/interactive_poisson_0.2_10_5_25_100
results/interactive_poisson_0.2_10_5_50_5
results/interactive_poisson_0.3_10_5_25_1
results/interactive_poisson_0.3_10_5_25_100
results/interactive_poisson_0.3_10_5_50_5
results/interactive_poisson_0.4_10_5_25_1
results/interactive_poisson_0.4_10_5_25_100
results/interactive_poisson_0.4_10_5_50_5
results/interactive_poisson_0.5_10_5_25_1
results/interactive_poisson_0.5_10_5_25_100
results/interactive_poisson_0.5_10_5_50_5
results/interactive_poisson_0.6_10_5_25_1
results/interactive_poisson_0.6_10_5_25_100
results/interactive_poisson_0.6_10_5_50_5
results/interactive_poisson_0.7_10_5_25_1
results/interactive_poisson_0.7_10_5_25_100
results/interactive_poisson_0.7_10_5_50_5
results/interactive_poisson_0.8_10_5_25_1
results/interactive_poisson_0.8_10_5_25_100
results/interactive_poisson_0.8_10_5_50_5
results/interactive_poisson_0.9_10_5_25_1
results/interactive_poisson_0.9_10_5_25_100
results/interactive_poisson_0.9_10_5_50_100
results/interactive_poisson_0.9_10_5_50_5
results/interactive_poisson_10_5_25_1
results/interactive_normal_0.5_2_0_25_100
results/interactive_normal_0.6_2_0_25_100
results_PSC/interactive_normal_0.1_2_0_50_500 2
results_PSC/interactive_normal_0.2_2_0_50_500 2
results_PSC/interactive_normal_0.4_2_0_50_500 2
results_PSC/interactive_normal_0.5_2_0_50_500 2
results_PSC/interactive_normal_0.6_2_0_50_500 2
results_PSC/interactive_normal_0.7_2_0_50_500 2
results_PSC/interactive_normal_0.8_2_0_50_500 2
results_PSC/interactive_normal_0.9_2_0_50_500 2
results_PSC/interactive_poisson_0.1_100_50_50_500
results_PSC/interactive_poisson_0.2_100_50_50_500
results_PSC/interactive_poisson_0.3_100_50_50_500
results_PSC/interactive_poisson_0.4_100_50_50_500
results_PSC/interactive_poisson_0.5_100_50_50_500
results_PSC/interactive_poisson_0.6_100_50_50_500
results_PSC/interactive_poisson_0.7_100_50_50_500
results_PSC/interactive_poisson_0.8_100_50_50_500
results_PSC/interactive_poisson_0.9_100_50_50_500
results/interactive_normal_0.5_2_0_25_100
results/interactive_normal_0.6_2_0_25_100
results_PSC/interactive_normal_0.1_2_0_25_500
results_PSC/interactive_normal_0.1_2_0_50_500
results_PSC/interactive_normal_0.2_2_0_25_500
results_PSC/interactive_normal_0.2_2_0_50_500
results_PSC/interactive_normal_0.3_2_0_25_500
results_PSC/interactive_normal_0.4_2_0_25_500
results_PSC/interactive_normal_0.4_2_0_50_500
results_PSC/interactive_normal_0.5_2_0_25_500
results_PSC/interactive_normal_0.5_2_0_50_500
results_PSC/interactive_normal_0.6_2_0_25_500
results_PSC/interactive_normal_0.6_2_0_50_500
results_PSC/interactive_normal_0.7_2_0_25_500
results_PSC/interactive_normal_0.7_2_0_50_500
results_PSC/interactive_normal_0.8_2_0_25_500
results_PSC/interactive_normal_0.8_2_0_50_500
results_PSC/interactive_normal_0.9_2_0_25_500
results_PSC/interactive_normal_0.9_2_0_50_500
results_PSC/interactive_poisson_0.1_10_5_25_500
results_PSC/interactive_poisson_0.1_10_5_50_500
results_PSC/interactive_poisson_0.2_10_5_25_500
results_PSC/interactive_poisson_0.2_10_5_50_500
results_PSC/interactive_poisson_0.3_10_5_25_500
results_PSC/interactive_poisson_0.3_10_5_50_500
results_PSC/interactive_poisson_0.4_10_5_25_500
results_PSC/interactive_poisson_0.4_10_5_50_500
results_PSC/interactive_poisson_0.5_10_5_25_500
results_PSC/interactive_poisson_0.5_10_5_50_500
results_PSC/interactive_poisson_0.6_10_5_25_500
results_PSC/interactive_poisson_0.6_10_5_50_500
results_PSC/interactive_poisson_0.7_10_5_25_500
results_PSC/interactive_poisson_0.7_10_5_50_500
results_PSC/interactive_poisson_0.8_10_5_25_500
results_PSC/interactive_poisson_0.8_10_5_50_500
results_PSC/interactive_poisson_0.9_10_5_25_500
results_PSC/interactive_poisson_0.9_10_5_50_500
.Rhistory
.DS_Store
results_hydras/interactive_normal_0.1_2_0_25_1
results_hydras/interactive_normal_0.1_2_0_25_100
results_hydras/interactive_normal_0.1_2_0_50_5
results_hydras/interactive_normal_0.2_2_0_25_1
results_hydras/interactive_normal_0.2_2_0_25_100
results_hydras/interactive_normal_0.2_2_0_50_5
results_hydras/interactive_normal_0.3_2_0_25_1
results_hydras/interactive_normal_0.3_2_0_25_100
results_hydras/interactive_normal_0.3_2_0_50_5
results_hydras/interactive_normal_0.4_2_0_25_1
results_hydras/interactive_normal_0.4_2_0_25_100
results_hydras/interactive_normal_0.4_2_0_50_5
results_hydras/interactive_normal_0.5_2_0_25_1
results_hydras/interactive_normal_0.5_2_0_25_100
results_hydras/interactive_normal_0.5_2_0_50_5
results_hydras/interactive_normal_0.6_2_0_25_1
results_hydras/interactive_normal_0.6_2_0_25_100
results_hydras/interactive_normal_0.6_2_0_50_5
results_hydras/interactive_normal_0.7_2_0_25_1
results_hydras/interactive_normal_0.7_2_0_25_100
results_hydras/interactive_normal_0.7_2_0_50_5
results_hydras/interactive_normal_0.8_2_0_25_1
results_hydras/interactive_normal_0.8_2_0_25_100
results_hydras/interactive_normal_0.8_2_0_50_5
results_hydras/interactive_normal_0.9_2_0_25_1
results_hydras/interactive_normal_0.9_2_0_25_100
results_hydras/interactive_normal_0.9_2_0_50_5
results_hydras/interactive_poisson_0.1_10_5_25_1
results_hydras/interactive_poisson_0.1_10_5_25_100
results_hydras/interactive_poisson_0.1_10_5_50_5
results_hydras/interactive_poisson_0.2_10_5_25_1
results_hydras/interactive_poisson_0.2_10_5_25_100
results_hydras/interactive_poisson_0.2_10_5_50_5
results_hydras/interactive_poisson_0.3_10_5_25_1
results_hydras/interactive_poisson_0.3_10_5_25_100
results_hydras/interactive_poisson_0.3_10_5_50_5
results_hydras/interactive_poisson_0.4_10_5_25_1
results_hydras/interactive_poisson_0.4_10_5_25_100
results_hydras/interactive_poisson_0.4_10_5_50_5
results_hydras/interactive_poisson_0.5_10_5_25_1
results_hydras/interactive_poisson_0.5_10_5_25_100
results_hydras/interactive_poisson_0.5_10_5_50_5
results_hydras/interactive_poisson_0.6_10_5_25_1
results_hydras/interactive_poisson_0.6_10_5_25_100
results_hydras/interactive_poisson_0.6_10_5_50_5
results_hydras/interactive_poisson_0.7_10_5_25_1
results_hydras/interactive_poisson_0.7_10_5_25_100
results_hydras/interactive_poisson_0.7_10_5_50_100
results_hydras/interactive_poisson_0.7_10_5_50_5
results_hydras/interactive_poisson_0.8_10_5_25_1
results_hydras/interactive_poisson_0.8_10_5_25_100
results_hydras/interactive_poisson_0.8_10_5_50_100
results_hydras/interactive_poisson_0.8_10_5_50_5
results_hydras/interactive_poisson_0.9_10_5_25_1
results_hydras/interactive_poisson_0.9_10_5_25_100
results_hydras/interactive_poisson_0.9_10_5_50_100
results_hydras/interactive_poisson_0.9_10_5_50_5
results_hydras/interactive_poisson_10_5_25_1
results_PSC/interactive_normal_0.2_2_0_50_250
results_PSC/interactive_normal_0.3_2_0_50_250
results_PSC/interactive_normal_0.4_2_0_50_250
results_PSC/interactive_poisson_0.1_10_5_50_250
results_PSC/interactive_poisson_0.2_10_5_50_250
results_PSC/interactive_poisson_0.3_10_5_50_250
results_PSC/interactive_poisson_0.4_10_5_50_250
results_PSC/interactive_poisson_0.5_10_5_50_250
results_PSC/interactive_poisson_0.6_10_5_50_250
results_PSC/interactive_poisson_0.7_10_5_50_250
results_PSC/interactive_poisson_0.8_10_5_50_250
results_PSC/interactive_poisson_0.9_10_5_50_250
